text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

#chart{
    font-size: 10px;
}
#vis {
    border-style: solid;
    border-width: 1px;
}
#chartInfo {
    text-align: center;
    font-size: 10px;
}
#menu {
    font-size: 10px;
}
#parameters {
    font-size: 10px;
}
/* body */
body{
    text-align: center;
    background-color: #F7F7F7;
}
/* links */
a:link {
    color: #3665FF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #1B3380;
    font-weight: 500;
}
/* headings */
h1,h2,h3,h4 { 
    font-family: palatino, georgia, verdana, arial, sans-serif;
	font-weight: bold; padding-bottom: 1ex; }
h1 { font-size: 175%;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
h2 { font-size: 125%;
    text-align: center; 
	text-transform: uppercase; 
}
h3 { 
    font-size: 125%;
}
h4 {
    font-style: italic;
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
}
h5 {
        margin: 0px 0px 1px 0px;
        padding: 0px 0px 0px 0px;
}

/* container */
#container {
    margin: 0px;
    border: none;
    background-color: #F7F7F7;
}
/* center */
#center { 
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: justify;
    font-family: palatino, georgia, verdana, arial, sans-serif;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;
    padding: 20px;
}
/* lists and news */
ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 20px;
}
li {
    font-size: 14px;
    list-style-type: none;
    margin: 8px 0px 0px 0px;
}
li.indent {
    font-size: 12px;
    margin: 0px 0px 0px 20px;
}

.content {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    clear: both;
}

.left{ 
    float: left;
}
.right{
    float: right;
}
#footer{
    font-size: 12px;
}
